:root{
    --manrope-font-family: "Manrope";
    --heading-color: rgba(71, 117, 255, 1);
    --para-color:  rgba(121, 121, 121, 1);
    --main-font-size-1920px: 45px;
    --para-font-size-1920px: 16px;
    --main-font-size-1440px: 40px;
    --para-font-size-1440px: 16px;
    --main-font-size-1200px: 36px;
    --para-font-size-1200px: 16px;
    --main-font-size-1024px: 32px;
    --para-font-size-1024px: 14px;
    --main-font-size-768px: 30px;
    --para-font-size-768px: 14px;
    --main-font-size-425px: 26px;
    --para-font-size-425px: 12px;
}
.contact-header-bg{
    background: rgba(220, 229, 255, 1);
    height: 90vh;
}
.contact-heading h2{
    transform: translateX(-90px);
    font-size: 60px;
    font-weight: 500;
    color: var(--heading-color);
}
.contact-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-heading-img img{
    width: 100%;
}

.contact-form-main{
    display: flex;
    gap: 20px;
    padding-block: 80px;
    justify-content: center;
}

.contact-form-left{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 35%;
}
.about-left-inner{
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px;
    margin-inline: 40px;
}
.about-left-img{
    flex-basis: 30%;
}
.about-left-text{
    flex-basis: 70%;
}
.about-left-img img{
    width: 70%;
    margin-left: 20px;
}
.about-left-text h2{
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 400;
}
.about-left-text p{
    color: var(--para-color);
    font-size: 18px;
    font-weight: 400;
}

.contact-form-right{
    width: 40%;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding-inline: 60px;
    padding-block: 40px;
}

.contact-form-inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form-inner h2{
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--main-font-size-1024px);
}
.contact-input{
    width: 100%;
    margin: 10px auto;
    background: rgba(231, 231, 231, 1);
    border: 0;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: var(--manrope-font-family);
}
.contact-textarea{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background: rgba(231, 231, 231, 1);
    border: 0;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    font-family: var(--manrope-font-family);
}
.contact-checkbox{
    margin: 5px ;
}

.contact-submit{
    background-color: var(--heading-color);
    border: 0;
    color: white;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-family: var(--manrope-font-family);
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
}

.contact-location{
    height: 300px;
    background: rgba(71, 117, 255, 1);
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
.contact-location h2{
    color: white;
    font-size: var(--main-font-size-1920px);
    width: 20%;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.contact-location-map{
    height: 500px;
    display: flex;
    justify-content: center;
}

.contact-location-map iframe{
    border-radius: 20px;
    margin-top: -100px;
    width: 850px ;
    height: 450px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.3);
}